<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Place Request</title>
</head>

<body>
	<h1>Place Order Form</h1>
	<form action="/form" method="post">
		<fieldset>
            <legend>
                <strong>Information</strong>
            </legend>
            
			Name: <input type="text" name="name" required/>
			Email Address: <input type="email" name="email"  placeholder="example@notreal.notreal" required>
		</fieldset>

		<fieldset>
			<legend><strong>Select A Date You Want To See</strong></legend>
			Month: <input type="number" name="month" min="1" max="12" step="1" required>
            Day: <input type="number" name="day" min="1" max="31" step="1" required>
            Year: <input type="number" name="year" min="2016" max="2023" step="1" required>
		</fieldset>

		<fieldset>
			<legend><strong>Additional Info</strong></legend>
			<textarea rows="5" cols="80" name="orderInformation"></textarea>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Place Request"/>
	</form>
	<br><br>
	<a href="/">HOME</a>
</body>

</html>
