<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Final Project</title>
    <style>
        html {
            background-image: url('/images/nasa.jpg');
            background-repeat: no-repeat;
            font-size: 14px;
        }
       
        #firstBox {
            width: 30rem;
            height: 10rem;
            border: .5rem solid black;
        }

        #secondBox {
            width: 30rem;
            height: 10rem;
            border: .5rem solid black;
        }

        h2 {
            margin-left: 3rem;
        }
        p{
            margin-left: 3rem;
        }
    </style>
</head>

<body>
    <h1>Welcome to Space!</h1>

    <div id="firstBox">
    <h2>Sign Up!</h2>
    <p>To sign up select <a href="/form">form</a></p>
    </div> 

    <div id="secondBox">
    <h2>See Astronomy Picture of the Day!</h2>
    <p>To see the astronomy picture of the day select <a href="/photo">photo</a></p>
    </div> 

</body>

</html>